# change with your own node
WAXRPC_ENDPOINT="http://192.168.1.12:8888"
WAXNODE_ENDPOINT="192.168.1.12"
WAXNODE_HTTP_PORT="8888"
WAXNODE_WS_PORT="8080"

HYPERION_ENDPOINT="https://wax-history.eosdac.io/v2/"

POSTGRESQL_HOST="db"
POSTGRESQL_PORT="5432"
POSTGRESQL_DATABASE="swaplog"
POSTGRESQL_USER="swaplog"
POSTGRESQL_PASSWORD="swaplog"
POSTGRESQL_MAX_POOL="50"

KLINESINDEXER_WORKER_CATCHUP="3
